{% extends "base.html" %}
{% block content %}
<h2>Продажа читов на сайте elitehacks.ru</h2>
<p>Если ты ищешь способ улучшить свои результаты в любимых онлайн играх, то ты попал по адресу! EliteHacks предлагает тебе лучшие читы от проверенных временных разработчиков...</p>
<h3>Почему стоит выбрать нас?</h3>
<ol>
    <li>Качество и надежность. Мы работаем только с лучшими разработчиками...</li>
    <li>Техническая поддержка...</li>
    <li>Постоянные скидки...</li>
</ol>
<h3>Наш опыт</h3>
<p>Мы работаем в сфере продажи читов уже более 10 лет, а наш сайт успешно функционирует уже более 4 лет...</p>
<h3>Наши предложения</h3>
<ul>
    <li>DayZ</li>
    <li>Escape From Tarkov</li>
    <li>Rust</li>
</ul>
<p>Но это далеко не все! Мы постоянно обновляем ассортимент...</p>
{% endblock %}