{% extends "base.html" %}
{% block content %}
<div class="catalog-title"><h2>Каталог игр</h2></div>
<input type="text" placeholder="Каталог выбора игр">
<div class="catalog-list">
    <div class="catalog-card">Rust<br><span class="catalog-price">От 200₽</span></div>
    <div class="catalog-card">DAYZ<br><span class="catalog-price">От 199₽</span></div>
    <div class="catalog-card">Escape From Tarkov<br><span class="catalog-price">От 179₽</span></div>
    <div class="catalog-card">PUBG<br><span class="catalog-price">От 209₽</span></div>
    <div class="catalog-card">COD: Black Ops 6<br><span class="catalog-price">От 200₽</span></div>
    <div class="catalog-card">DELTA FORCE<br><span class="catalog-price">От 321₽</span></div>
    <div class="catalog-card">SQUAD<br><span class="catalog-price">От 200₽</span></div>
</div>
{% endblock %}